@charset "UTF-8";
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .section {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

@media (min-width: 768px) {
  .advantages-section__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 1200px) {
  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.advantages-section__card {
  position: relative;
  margin-right: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantages-section__card {
    width: calc((100% - 4 * 15px) / 2);
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
  }
  .advantages-section__card:nth-child(1n + 3) {
    margin-bottom: 0px;
  }
  .advantages-section__card:nth-child(1n + 3) {
    margin-top: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .advantages-section__card {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .advantages-section__card:nth-child(1n + 4) {
    margin-bottom: 0px;
  }
}

.advantages-section__card:last-child {
  margin-right: 0;
}

.advantages-section__icon {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--third-bg-color);
  border-radius: 4px;
}

.advantages-section__sub-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

@media (max-width: 767px) {
  .advantages-section__sub-title {
    text-align: center;
  }
}

.advantages-section__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .advantages-section__text {
    height: 50px;
  }
}

.clients-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .clients-section__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.clients-card {
  width: 170px;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients-card {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }
  .clients-card:nth-child(1n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-card + .clients-card {
    margin-left: 30px;
  }
}

.clients-card__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--fifth-bg-color);
  fill: var(--fifth-bg-color);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--animation-timing), fill var(--transition-duration) var(--animation-timing);
}

.clients-card__link:hover, .clients-card__link:focus {
  border: 1px solid var(--bg-color-effect);
  fill: var(--bg-color-effect);
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__block {
    align-items: baseline;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .footer__block {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__block {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts__item {
  margin-top: 9px;
}

@media screen and (min-width: 480px) {
  .footer-contacts__item {
    margin-top: 8px;
  }
}

.footer-contacts__item:first-child {
  margin-top: 0px;
}

.footer-contacts__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--fifth-text-color);
}

/* Footer social net / Футер соц сети */
.footer-social-net__block {
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .footer-social-net__block {
    margin-top: 60px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-net__block {
    margin-top: 0px;
  }
}

.footer-social-net__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
}

.footer-social-net__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-net__item {
  margin-right: 10px;
}

.footer-social-net__item:last-child {
  margin-right: 0px;
}

.footer-social-net__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--primary-bg-color);
  background-color: var(--sixth-bg-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--animation-timing);
}

.footer-social-net__link:hover, .footer-social-net__link:focus {
  background-color: var(--bg-color-effect);
  border-radius: 50%;
}

/* Footer subsribe form / Футер секция подписка */
.footer-subscribe {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
}

@media screen and (min-width: 480px) {
  .footer-subscribe__item {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe__item {
    display: flex;
  }
}

.footer-subscribe__input {
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-right: 15px;
  width: 358px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--fifth-text-color);
}

@media screen and (max-width: 1199px) {
  .footer-subscribe__input {
    width: 450px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

.footer-subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 29px;
  background-color: var(--bg-color-effect);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  position: relative;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

.footer-subscribe__button:hover, .footer-subscribe__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe__svg--send {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--fifth-text-color);
}

.gallery-section__text--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filters-list__button {
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--third-bg-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  transition: background-color var(--transition-duration) var(--animation-timing), color var(--transition-duration) var(--animation-timing), box-shadow var(--transition-duration) var(--animation-timing);
}

.filters-list__button:hover, .filters-list__button:focus {
  background: var(--bg-color-effect);
  color: var(--fifth-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.gallery-section__filters-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-section__filters-list {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .gallery-section__filters-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: left;
  }
}

.filters-list__item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filters-list__item {
    margin-bottom: 15px;
  }
  .filters-list__item:nth-child(1n + 4) {
    margin-bottom: 0;
  }
  .filters-list__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.filters-list__item:last-child {
  margin-right: 0;
}

.gallery-section__list {
  margin-left: -15px;
  margin-right: -15px;
}

@media screen and (min-width: 768px) {
  .gallery-section__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .gallery-section__card {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
  }
  .gallery-section__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-section__card {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  .gallery-section__card:nth-child(1n + 4) {
    margin: 15px;
  }
  .gallery-section__card:nth-child(1n + 7) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-section__card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .gallery-section__card:first-child {
    margin-top: 0;
  }
  .gallery-section__card:nth-child(9n + 2) {
    margin-top: 0;
  }
  .gallery-section__card:last-child {
    margin-bottom: 0;
  }
}

.card__link {
  transition: box-shadow var(--transition-duration) var(--animation-timing);
}

.card__link:hover, .card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover .card-image__overlay-text,
.card__link:focus .card-image__overlay-text {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .card__link {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--transition-duration) var(--animation-timing);
  }
}

.card-image__overlay {
  position: relative;
  overflow: hidden;
}

.card__img {
  display: block;
  width: 370px;
  height: 294px;
}

@media screen and (max-width: 767px) {
  .card__img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__img {
    width: 354px;
    height: 294px;
  }
}

.card-image__overlay-text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(100%);
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  opacity: 0;
  transition: opacity var(--transition-duration) var(--animation-timing), transform var(--transition-duration) var(--animation-timing);
}

@media screen and (max-width: 767px) {
  .card-image__overlay-text {
    padding-top: 77px;
    padding-bottom: 77px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-image__overlay-text {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

.card__name {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__name {
    flex-grow: 1;
  }
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__block {
    align-items: center;
    display: flex;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    display: flex;
  }
}

.header-menu__nav {
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .header-menu__nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-menu__nav {
    margin-left: 88px;
  }
}

.header-menu__item {
  position: relative;
  margin-right: 50px;
}

.header-menu__item::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: var(--bg-color-effect);
  border-radius: 2px;
  transition: width var(--transition-duration) var(--animation-timing);
}

.header-menu__item:hover::after, .header-menu__item:focus::after {
  width: 100%;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

.header-menu__link:hover, .header-menu__link:focus {
  color: var(--third-text-color);
}

.header-menu__link--current {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  transition: width var(--transition-duration) var(--animation-timing);
}

.header-menu__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--bg-color-effect);
  border-radius: 2px;
}

.header-contacts {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}

.header-contacts__item {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header-contacts__item {
    display: none;
  }
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item + .header-contacts__item {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
  .header-contacts__item:last-child {
    margin-top: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.header-contacts__link:hover svg,
.header-contacts__link:focus svg {
  fill: var(--bg-color-effect);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__link {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: left;
    line-height: 1.16;
    font-size: 12px;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }
}

.header-contacts__img--envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__img--envelope {
    margin-right: 8px;
  }
}

.header-contacts__img--smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__img--smartphone {
    margin-right: 8px;
  }
}

.mobile-menu {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu:hover, .mobile-menu:focus {
  fill: var(--bg-color-effect);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

@media (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__overlay {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 767px) {
  .hero__overlay {
    min-width: 480px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_mobile@1.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__overlay {
    max-width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_mobile@2.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    max-width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_tablet@1.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero__overlay {
    max-width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_tablet@2.jpg");
  }
}

@media (min-width: 1200px) {
  .hero__overlay {
    max-width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_desktop@1.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    max-width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_desktop@2.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fifth-text-color);
}

@media (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--fifth-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--bg-color-effect);
  border-radius: 4px;
  border: transparent;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--animation-timing);
}

.hero__button:hover, .hero__button:focus {
  background: var(--fourth-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.header-menu__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

@media screen and (max-width: 1199px) {
  .header-menu__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.footer-menu__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

@media screen and (max-width: 1199px) {
  .footer-menu__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.header-menu__logo--theme-black {
  color: var(--primary-text-color);
}

.footer-menu__logo--theme-white {
  color: var(--fifth-text-color);
}

.modal-form {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
  align-items: center;
}

.modal-form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .modal-form__text {
    line-height: 1.5;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .modal-form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secodary-text-color);
  margin-bottom: 4px;
}

.modal-form__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  margin: 0;
  line-height: 1.14;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration) var(--animation-timing);
}

@media screen and (max-width: 1199px) {
  .modal-form__input {
    width: 370px;
    height: 40px;
  }
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--bg-color-effect);
  cursor: pointer;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--bg-color-effect);
}

.modal-form__input:active {
  border: 1px solid var(--bg-color-effect);
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill var(--transition-duration) var(--animation-timing);
}

.modal-form__textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal-form__textarea {
    width: 370px;
    height: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secodary-text-color);
  }
}

.modal-form__textarea:hover, .modal-form__textarea:focus {
  border: 1px solid var(--bg-color-effect);
  cursor: pointer;
  transition: border var(--transition-duration) var(--animation-timing);
}

.submit-area__button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  align-items: center;
  background: var(--fourth-bg-color);
  border: transparent;
  border-radius: 4px;
  color: var(--fifth-text-color);
  transition: box-shadow var(--transition-duration) var(--animation-timing);
  cursor: pointer;
}

.submit-area__button:hover, .submit-area__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__submit-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.modal-form__field-comment {
  margin-bottom: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-form__field-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.submit-area__item {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

@media screen and (max-width: 1199px) {
  .submit-area__item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--secodary-text-color);
  }
}

.submit-area__checkbox {
  appearance: none;
  position: absolute;
  transition: border-color var(--transition-duration) var(--animation-timing);
}

.submit-area__checkbox:checked + .submit-area__checkbox-icon {
  border-color: var(--bg-color-effect);
  background-color: var(--bg-color-effect);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: contain;
}

.submit-area__checkbox:hover + .submit-area__checkbox-icon,
.submit-area__checkbox:focus + .submit-area__checkbox-icon {
  border-color: var(--bg-color-effect);
}

.submit-area__custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submit-area__checkbox-icon {
  margin-right: 8px;
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: border-color var(--transition-duration) var(--animation-timing), background-color var(--transition-duration) var(--animation-timing), background-image var(--transition-duration) var(--animation-timing);
}

.submit-area__policy {
  color: var(--third-text-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition-duration) var(--animation-timing), opacity var(--transition-duration) var(--animation-timing), box-shadow var(--transition-duration) var(--animation-timing);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 15px;
  }
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.modal__button--close {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-duration) var(--animation-timing);
}

@media screen and (max-width: 768px) {
  .modal__button--close {
    top: 20px;
    right: 20px;
  }
}

.modal__button--close:hover, .modal__button--close:focus {
  fill: var(--bg-color-effect);
}

.team-section {
  background-color: var(--third-bg-color);
}

.team-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .team-section__title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section__list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

.staff-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .staff-card {
    margin-bottom: 30px;
  }
  .staff-card:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .staff-card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .staff-card {
    margin: 15px;
  }
}

.staff-card__img {
  display: block;
}

@media (max-width: 767px) {
  .staff-card__img {
    width: 450px;
    height: 460px;
  }
}

@media (min-width: 768px) {
  .staff-card__img {
    width: 354px;
    height: 374px;
  }
}

@media (min-width: 1200px) {
  .staff-card__img {
    width: 270px;
    height: 260px;
  }
}

.staff-card__text-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 480px) {
  .staff-card__text-block {
    padding-bottom: 24px;
  }
}

.staff-card__name {
  margin-bottom: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.staff-card__position {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

.social-net {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-net__item {
  margin-right: 10px;
}

.social-net__item:last-child {
  margin-right: 0px;
}

.social-net__link {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--fifth-bg-color);
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--animation-timing), fill var(--transition-duration) var(--animation-timing);
}

.social-net__link:hover, .social-net__link:focus {
  fill: var(--primary-bg-color);
  background-color: var(--bg-color-effect);
  border-radius: 50%;
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section {
  padding-top: 0;
}

.work-section__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.work-section__list {
  display: flex;
}

.work-section__card {
  position: relative;
}

.work-section__card + .work-section__card {
  margin-left: 30px;
}

.work-section__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.work-section__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color var(--transition-duration) var(--animation-timing), opacity var(--transition-duration) var(--animation-timing), box-shadow var(--transition-duration) var(--animation-timing);
}

.backdrop-mobile__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-mobile-menu {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
}

.mobile-menu-button {
  display: flex;
  border: transparent;
  background-color: var(--primary-bg-color);
  transition: fill var(--transition-duration) var(--animation-timing);
  cursor: pointer;
}

.mobile-menu-button:hover, .mobile-menu-button:focus {
  fill: var(--bg-color-effect);
}

.modal-mobile__button--close {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 15px;
  border: transparent;
  background: var(--primary-bg-color);
  cursor: pointer;
  transition: fill var(--transition-duration) var(--animation-timing);
}

.modal-mobile__button--close:hover, .modal-mobile__button--close:focus {
  fill: var(--bg-color-effect);
}

.mobile-menu__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 40px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  justify-content: space-between;
}

.mobile-menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-text-color);
}

.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: var(--third-text-color);
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-contacts__item {
  margin-bottom: 32px;
}

.mobile-menu-contacts__item:last-child {
  margin-bottom: 0;
}

.mobile-menu-contacts__phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.mobile-menu-contacts__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
}

.current-mobile-menu {
  color: var(--third-text-color);
}

.mobile-menu-social-contacts {
  display: flex;
}

.mobile-menu-social-contacts__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.mobile-menu-social-contacts__decor {
  color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__top {
  display: flex;
}

.mobile-menu__bottom {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secodary-text-color: #757575;
  --third-text-color: #2196f3;
  --fourth-text-color: rgba(255, 255, 255, 0.6);
  --fifth-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --bg-color-effect: #2196f3;
  --third-bg-color: #f5f4fa;
  --fourth-bg-color: #188ce8;
  --fifth-bg-color: #afb1b8;
  --sixth-bg-color: rgba(255, 255, 255, 0.1);
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
/*# sourceMappingURL=main.css.map */