.gallery-section__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  margin-left: -15px;
  margin-right: -15px;
}

.gallery-section__card {
  @media screen and(max-width: 767px) {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and(min-width: 1200px) {
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    &:nth-child(1n + 4) {
      margin: 15px;
    }
    &:nth-child(1n + 7) {
      margin-bottom: 0px;
    }
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(9n + 2) {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card__link {
  transition: box-shadow var(--transition-duration) var(--animation-timing);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .card-image__overlay-text,
  &:focus .card-image__overlay-text {
    transform: translateY(0);
    opacity: 1;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--transition-duration) var(--animation-timing);
  }
}

.card-image__overlay {
  position: relative;
  overflow: hidden;
}

.card__img {
  @media screen and(max-width: 767px) {
    width: 450px;
    height: 294px;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    height: 294px;
  }
  display: block;
  width: 370px;
  height: 294px;
}

.card-image__overlay-text {
  @media screen and(max-width: 767px) {
    padding-top: 77px;
    padding-bottom: 77px;
  }
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    padding-top: 49px;
    padding-bottom: 49px;
  }
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  transform: translateY(100%);

  background-image: linear-gradient(
    to right,
    rgba(33, 150, 243, 0.9),
    rgba(33, 150, 243, 0.9)
  );
  opacity: 0;

  transition: opacity var(--transition-duration) var(--animation-timing),
    transform var(--transition-duration) var(--animation-timing);
}

.card__name {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.card__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}
